<h1 align="center">Todo List</h1>

<input type="text" class="todo-input" placeholder="Add next todo here" [(ngModel)]="todoTitle" (keyup.enter)=addTodo()>
<span class="dropright">Press Enter</span>
<ul align="center" class="list-group" >
  <li [ngClass]="{'list-group-item':true, done: todo.isDone}" *ngFor="let todo of todoList">
    <div class="view">
      <label>{{ todo.title }}</label>
      <label>Done?</label>
      <input type="checkbox" class="isDoneCheck" [(ngModel)]=todo.isDone>
      <div class="float-right">
        <button type="button" (click)=deleteTodo(todo) class="btn btn-danger btn-sm">Delete</button>
      </div>
    </div>
  </li>
</ul>


<router-outlet></router-outlet>